---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.ads %}
  <div class="wordwrap">
    You can also find my publications on <a href="{{ site.author.ads }}">NASA ADS</a>.
  </div>
{% endif %}


{% include base_path %}

{% assign publications = site.publications | sort: "date" | reverse %}

<section class="publication-section">
  <h2>First-author Publications</h2>
  <div class="publication-list">
  {% for post in publications %}
    {% if post.first_author != false %}
      {% include publication-card.html %}
    {% endif %}
  {% endfor %}
  </div>
</section>

<section class="publication-section">
  <h2>Co-authored Publications</h2>
  <div class="publication-list">
  {% for post in publications %}
    {% if post.first_author == false %}
      {% include publication-card.html %}
    {% endif %}
  {% endfor %}
  </div>
</section>
