---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

## Main Research

**Multimodal Galaxy Physical Properties Estimation and Scientific Applications in Next-Generation Large-Scale Surveys**

<figure class="research-main-figure">
  <img src="/images/main_research.png" alt="Main research topic: multimodal galaxy physical properties estimation and scientific applications in next-generation large-scale surveys">
</figure>

## Research Projects

<div class="research-list">
  {% assign research_items = site.research | sort: "date" | reverse %}
  {% for post in research_items %}
    {% include research-card.html %}
  {% endfor %}
</div>
